<clr-main-container>
  <clr-header class="header-5">
    <div class="branding">
      <a href="/admin" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
            {{fullname}}
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a href="javascript://" clrDropdownItem>Preferences</a>
            <a href="javascript://" clrDropdownItem (click)="logout()">Log out</a>
        </clr-dropdown-menu>
    </clr-dropdown>

    </div>

  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav [clrVerticalNavCollapsible]="true" 
    [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="1">

      <a clrVerticalNavLink routerLink="/admin/main" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        Main
      </a>
      <a clrVerticalNavLink routerLink="/admin/new" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Add User
      </a>

      <a clrVerticalNavLink routerLink="/admin/credit" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>

  </div>
</clr-main-container>