<div class="row">
  <div class="col-md-8 push-md-2">
    <div class="card">
      <div class="card-header">
        <span *ngIf="!userId">Add new user</span>
        <span *ngIf="userId">Edit new user</span>
      </div>
      <div class="card-block">
        <clr-alert [clrAlertType]="'alert-danger'" *ngIf="isError">
          <div class="alert-item">
            <span class="alert-text">
              {{errorMessage}}
            </span>
          </div>
        </clr-alert>

        <div class="card-text">
          <form>
            <section class="form-block">
                <div class="form-group row">
                    <div class="col-md-2">
                      <label for="id">ID</label>
                    </div>
                    <div class="col-md-10">
                      <input class="form-control" type="text" name="id" [(ngModel)]="id" id="id">
                      {{id}}
                    </div>
                  </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <label for="username">Username</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="username" [(ngModel)]="username" id="username">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <label for="password">Password</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" name="password" [(ngModel)]="password" type="password" id="password">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <label for="firstName">First name</label>
                </div>
                <div class="col-md-4">
                  <input class="form-control" name="firstName" [(ngModel)]="firstName" type="text" id="firstName">
                </div>
                <div class="col-md-2">
                  <label for="lastName">Last name</label>
                </div>
                <div class="col-md-4">
                  <input class="form-control" type="text" name="lastName" [(ngModel)]="lastName" id="lastName">
                </div>
              </div>
            </section>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-success" [clrLoading]="saving"
        (click)="save()" [disabled]="saving || !username || (!password && !userId) || !firstName || !lastName">
          <clr-icon shape="floppy"></clr-icon> Save data
        </button>
        <button class="btn btn-sm btn-danger" routerLink="/admin">Back</button>
      </div>
    </div>
  </div>
</div>