<clr-datagrid style="height: 100%;" [clrDgLoading]="loding" [(clrDgSelected)]="selected">

  <clr-dg-column [clrDgField]="'ID'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      ID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'first_name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      First name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'last_name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Last name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'Username'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Username
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'Pasword'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Password
    </ng-container>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users;" [clrDgItem]="user">
    <clr-dg-action-overflow>
      <button class="action-item" routerLink="/admin/edit/{{user.id}}">
        <clr-icon shape="note"></clr-icon> Edit
      </button>
      <button class="action-item" (click)="remove(user,user.id)">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{user.id}}</clr-dg-cell>
    <clr-dg-cell>{{user.fname}}</clr-dg-cell>
    <clr-dg-cell>{{user.lname}}</clr-dg-cell>
    <clr-dg-cell>{{user.username}}</clr-dg-cell>
    <clr-dg-cell>{{user.password}}</clr-dg-cell>
  
  </clr-dg-row>


  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
    <clr-dg-pagination #pagination [clrDgPageSize]="20"></clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>